.banner {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}

.home {
  padding-left: 30px;
  padding-right: 20px;
  background-color: white;
}

.mt-1 {
  font-size: 85px;
}

.text1 {
  font-size: 23px;
}
